<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Members</th>
            <th scope="col">Dining Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let table of tables">
            <td>{{ table.id }}</td>
            <td>{{ table.name }}</td>
            <td>{{ table.email }}</td>
            <td>{{ table.members }}</td>
            <td>{{ table.diningType }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>